# Исключаем директорию node_modules, чтобы избежать копирования локальных зависимостей
node_modules

# Исключаем директорию сборки TypeScript, так как она будет генерироваться в контейнере
dist

# Исключаем файлы, связанные с тестированием и покрытиями кода
coverage
*.test.ts
tests

# Исключаем файлы конфигурации локальной среды разработки
.env.local
.env.test

# Исключаем различные редакционные и системные файлы
*.log
*.lock
.DS_Store
*.swp

# Исключаем файлы и директории, относящиеся к системам контроля версий
.git
.gitignore

# Исключаем файлы документации
README.md
readme_*.md

# Исключаем временные файлы, файлы IDE и редакторов
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Исключаем любые другие ненужные файлы и папки
tmp
